@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Open+Sans:wght@400;600;700;800&display=swap");
@import "/src/scss/variables";

@import "/src/scss/header";
@import "/src/scss/profile";
@import "/src/scss/feed";
@import "/src/scss/mobile-header";

html {
  --wrapper-width: #{$wrapper-width};
  --wrapper-padding: #{$wrapper-padding};

  height: 100%;

  @media (max-width: 767px) {
    --wrapper-padding: #{$wrapper-padding-mobile};
  }
}

body {
  background-color: #f2f2f2;
}

.wrapper {
  max-width: calc(var(--wrapper-width) + var(--wrapper-padding) * 2);
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding-left: var(--wrapper-padding);
  padding-right: var(--wrapper-padding);
}

.header {
  &--is-desktop {
    @media (max-width: 767px) {
      display: none;
    }
  }

  &--is-mobile {
    @media (min-width: 768px) {
      display: none;
    }
  }
}

.main {
  display: flex;
  flex-direction: row;
  padding-top: 72px;

  @media (max-width: 767px) {
    padding-top: 20px;
    flex-direction: column;
    padding-bottom: 20px;
  }
}

.modal--is-opened {
  overflow: hidden;
}
