@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Open+Sans:wght@400;600;700;800&display=swap");
@import "/src/scss/variables";

@import "/src/scss/header";
@import "/src/scss/profile";
@import "/src/scss/feed";

html {
  --wrapper-width: #{$wrapper-width};
  --wrapper-padding: #{$wrapper-padding};

  height: 100%;

  @media (min-width: #{1180px + $wrapper-padding * 2}) {
    --wrapper-width: #{$wrapper-width-wide};
  }
}

body {
  background-color: #f2f2f2;
}

.wrapper {
  max-width: var(--wrapper-width);
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: #{1180px + $wrapper-padding * 2}) and (max-width: #{$wrapper-width-wide + $wrapper-padding * 2}) {
    padding-left: $wrapper-padding;
    padding-right: $wrapper-padding;
    max-width: 100%;
  }

  @media (max-width: 1209px) {
    padding-left: 15px;
    padding-right: 15px;
    max-width: var(--wrapper-width);
  }
}

.main {
  display: flex;
  flex-direction: row;
  padding: 72px $wrapper-padding;
}
